@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');

html {
  scroll-behavior: smooth;
}

.header  {
  font-family: 'Almendra', serif;
  text-align: center;
  padding: 20px;
  opacity: 1;
}

.logo{
  height: 70px;
  width: 70px;
}



@media (min-height: 300px) {
  nav {
    position: sticky;
    top: 0;
  }
}

article{
  padding: 2rem;
}


.topnav {
  background-color: #333;
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 0px;
  height:calc(100% / 1);
  width:calc(100% / 1);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (min-width: 800px) {
  .topnav a { width: calc(100% / 3); height:calc(100% / 3);}
}

.wrapper{
  margin:0 auto;
  text-align:center;
}
table{
      border-collapse: collapse;
}

td{
  border:2px solid #000000;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
th{
  border:2px solid #000000;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

.cell{
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}
