@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');


.header  {
  font-family: 'Almendra', serif;
  text-align: center;
  padding: 20px;
  opacity: 1;
}

.logo{
  height: 70px;
  width: 70px;
}

.topnav {
  background-color: #333;
  overflow: hidden;

}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 7.66%;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}
