@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');

html {
  scroll-behavior: smooth;
}

.header  {
  font-family: 'Almendra', serif;
  text-align: center;
  padding: 20px;
  opacity: 1;
}

.logo{
  height: 70px;
  width: 70px;
}
@media (min-height: 300px) {
  nav {
    position: sticky;
    top: 0;
  }
}

article{
  padding: 2rem;
}


.topnav {
  background-color: #333;
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 14%;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}
