@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

nav > *{
  font-family: 'Roboto', sans-serif;
}

main > *{
  font-family: 'Roboto', sans-serif;
}

.header  {
  font-family: 'Almendra', serif;
  text-align: center;
  padding: 20px;
  opacity: 1;
  font-size: 50px;
}

.logo{
  height: 150px;
  width: 150px;
}

.parallax {
  /* The image used */
  background-image: url("../../media/1.jpg");

  /* Full height */
  height: 460px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-height: 300px) {
  nav {
    position: sticky;
    top: 0;
  }
}

article{
  padding: 2rem;
}


.topnav {
  background-color: #333;
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 0px;
  height:calc(100% / 1);
  width:calc(100% / 1);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (min-width: 800px) {
  .topnav a { width: calc(100% / 3); height:calc(100% / 3);}
}

.wrapper{
  margin:0 auto;
  text-align:center;
}
table{
      border-collapse: collapse;
}

td{
  border:2px solid #000000;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

td:nth-child(2)
{
  display: none;
}

th{
  border:2px solid #000000;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

.cell{
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}
.wrapper1 {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper1 > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 600px) {
/*  .title { order: 1;  flex: 1; border-style: solid;}
  .midSec {order: 2; flex: 1; border-style: solid;}
  .plot {flex: 1; border-style: solid;}
  .vid {flex: 1; border-style: solid;}
  .makBook {flex: 1; border-style: solid;}*/
}

@media all and (min-width: 800px) {
  .midSec { flex: 1; order: 1;}
  .title { order: 1;}
  .plot { flex: 4; order: 2;}
  .vid { flex: 1; order: 2;}
  .makBook  { display: flex; flex-flow: row wrap;}
  .bookNow { flex: 1; order: 1; flex-direction: row;}
  .tRowBook { flex: 3; order: 2; flex-direction: row;}
}

.bookNow{
  font-size: 15px;
  font-weight: bold;
}

.tRowBook > input{
    background-color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    border-color: #000000;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

footer > *{
  font-family: 'Roboto', sans-serif;
}

.seat {
  margin:0 auto;
  text-align:center;
  width:500px;
  height:500px;
}

.movie {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 800px) {
  .poster{flex: 1; order: 1;}
  .details{flex: 1; order: 2;}
  .movietitle{flex: 1; order: 1;}
  .movietimes{flex: 5; order: 2;}
}


